---
import fs from 'fs';
import path from 'path';

// Leer el archivo Markdown
const filePath = path.resolve('./public/scores/list.md');

// Parsear el Markdown y convertirlo en un array de canciones

---

<html lang="es">
  <head>
    <title>Scores</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto py-10">
      <h1 class="text-3xl font-bold mb-8">Scores</h1>

      <a href="scores/list/">descarga</a>
    </div>
  </body>
</html>

